body{
    width: auto;
    height: auto;
    background: rgb(83, 90, 66);
}
h1{
    text-align: center;
    margin-top: 50px;
    color:white;
    
}
div{
    margin: 50px 50px 50px 50px;
}
#del1{
    text-indent: 20px;
    font-family: "Tangerine", serif;
    font-style: italic;    
    font-size: 2.2em;
    font-weight: 300;
    color:white;
}
#del2{
    text-indent: 20px;
    font-family: "Kurale", serif;
    font-size: 1.5em;
    color: white;
    }
#del3{
    text-indent: 20px;
    font-family: "Alegreya+sans", serif;
    font-size: 1.7em;
   
}